spring:
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8010/realms/myrealm
web:
  authentication:
    authority: http://localhost:8010/realms/myrealm
    clientId: retroquest-web
websocket:
  base-url: 'ws://localhost:8080'